@import url("https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Mulish:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&display=swap");

// main variables
$main-font: "Mulish", sans-serif;
$number-font: "Cabin", sans-serif;
$pirmary-color: #333333;
$glass-color: #3333333d;

// styling of the main board
.main__board {
  margin: 0;
  background: no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: white;
  background-color: rgba(0, 0, 0, 0.7);
  text-shadow: 0px 0px 20px #242424;
  &__container {
    padding: 15px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}
// styling of center widget
.center__widget {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  height: 600px;
  &__section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    // ICON NAVIGATION
    &__nav {
      width: 190px;
      display: flex;
      justify-content: space-evenly;
      padding: 12px 0;
      border-radius: 25px;
      background-color: $glass-color;
      margin-bottom: 30px;
      .icon {
        cursor: pointer;
        transition: all 0.2s;
      }
      .icon:hover {
        filter: invert(0.3) brightness(0.5);
        transition: all 0.2s;
      }
    }
    //MAIN CLOCK STYLING
    &__clock {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      &__time {
        text-align: center;
        font-size: 145px;
        font-family: $number-font;
      }
      &__gretting {
        font-size: 54px;
        text-align: center;
      }
      &__subtitle {
        margin-top: 50px;
        font-size: 34px;
        text-align: center;
      }
      .name__input {
        margin-top: 20px;
        border: none;
        border-bottom: 3px solid white;
        padding: 5px 10px;
        outline: none;
        width: 426px;
        background: transparent;
        color: white;
      }
      .name__input:focus {
        color: white;
      }
    }
    //MEDITATION STYLING
    &__meditation {
      display: none;
      align-items: center;
      flex-direction: column;
      justify-content: space-evenly;
      .time-display {
        color: white;
        font-size: 145px;
        margin-bottom: 30px;
        font-family: $number-font;
      }
      .play {
        margin-bottom: 50px;
      }
      .relaxed__wrapper {
        background-color: $glass-color;
        padding: 25px;
        &__note {
          font-size: 34px;
          text-shadow: 0px 0px 20px #242424;
          text-align: center;
          margin-bottom: 30px;
        }
      }
      .time-select {
        width: 600px;
        display: flex;
        justify-content: space-evenly;
        .time__btn {
          color: white;
          width: 148px;
          height: 49px;
          background: none;
          font-size: 20px;
          cursor: pointer;
          border: 1px solid white;
          transition: all 0.2s ease;
          font-family: $number-font;
        }
      }

      .time-select button:hover {
        background: white;
        color: $pirmary-color;
      }
    }
  }
}

// LEFT WIDGETS

.widget {
  width: 340px;
  margin-bottom: 30px;
  background-color: white;
  border-radius: 5px;
  text-shadow: none;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12);
  //   Date widget styling
  &__date {
    height: 150px;
    color: $pirmary-color;
    display: flex;
    align-items: center;

    &__day {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-right: 30px;
      .weekday {
        color: rgb(204, 16, 16);
        text-transform: uppercase;
        font-weight: bold;
        letter-spacing: 0.1em;
      }
      .weekday-number {
        font-size: 75px;
        font-family: $number-font;
      }
    }
    &__month {
      color: green;
      text-transform: uppercase;
      color: #7e7e7e;
      letter-spacing: 0.2em;
    }
  }
  //Crypto widget styling
  &__crypto {
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    img {
      margin-right: 20px;
    }
    .current__price {
      font-weight: bold;
      margin-bottom: 5px;
      color: #333333;
    }
  }
}

// div.top__right {
//   float: left;
// }
// RIGHT WIDGET

// Weather widget styling
.weather__widget {
  position: absolute;
  top: 30px;
  right: 30px;
}

div#weather {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-self: flex-start;
  margin-top: -20px;
}

div#weather > img {
  width: 70px;
  margin-right: 10px;
}

p.weather-city {
  width: 100%;
  text-align: right;
  margin: 0;
  margin-top: -10px;
}

p.weather-temp {
  margin: 0;
  font-size: 1.8rem;
  margin-left: -10px;
}

// Switch button for widgets on the left side
.switch {
  position: relative;
  display: inline-block;
  width: 44px;
  height: 24px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 19px;
  width: 19px;
  left: 3px;
  bottom: 2.5px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: #2196f3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(19px);
  -ms-transform: translateX(19px);
  transform: translateX(19px);
}
