@import url("https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&display=swap");

$main-font: "Mulish", sans-serif;
$pirmary-color: #333333;

.main__board {
  margin: 0;
  background: no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: white;
  text-shadow: 0px 0px 20px #242424;
  &__container {
    padding: 15px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}

.center__section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  &__gretting {
    font-size: 54px;
  }
  &__subtitle {
    margin-top: 50px;
    font-size: 34px;
  }
  .name__input {
    margin-top: 20px;
    border: none;
    border-bottom: 3px solid white;
    padding: 5px 10px;
    outline: none;
    width: 426px;
    background: transparent;
  }
  .name__input:focus {
    color: white;
  }
}

.widget {
  width: 340px;
  height: 100px;
  background-color: white;
  border-radius: 5px;
  color: #333333;
  text-shadow: none;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12);

  &__crypto {
    display: flex;
    justify-content: space-between;
    align-items: center;
    img {
      margin-right: 20px;
    }
  }
}
.current__price {
  font-weight: bold;
  margin-bottom: 5px;
}
div.top__right {
  float: left;
}
.weather__widget {
  position: absolute;
  top: 30px;
  right: 30px;
}

h1.time {
  text-align: center;
  font-size: 145px;
}

div#crypto {
  font-size: 1.3rem;
}

div#crypto > p {
  margin: 0;
}

div#crypto-top {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

div#crypto-top > span {
  margin-left: 10px;
}

div#weather {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-self: flex-start;
  margin-top: -20px;
}

div#weather > img {
  width: 70px;
}

p.weather-city {
  width: 100%;
  text-align: right;
  margin: 0;
  margin-top: -10px;
}

p.weather-temp {
  margin: 0;
  font-size: 1.7rem;
  margin-left: -10px;
}

// Switch button
.switch {
  position: relative;
  display: inline-block;
  width: 44px;
  height: 24px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 19px;
  width: 19px;
  left: 3px;
  bottom: 2.5px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: #2196f3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(19px);
  -ms-transform: translateX(19px);
  transform: translateX(19px);
}
