@import url("https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Mulish:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&display=swap");
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  font-family: "Mulish", sans-serif;
  overflow: hidden;
}

a {
  text-decoration: none;
  color: #333333;
}

a:hover {
  color: #acacac;
  transition: all 0.2s;
}

.container {
  width: 1140px;
  margin: 0 auto;
}
.container .logo {
  margin-top: 35px;
  width: 150px;
}

.hero__section {
  max-width: 764px;
  height: 600px;
  margin: 0 auto;
}
.hero__section__headline {
  padding-top: 180px;
  font-size: 67px;
  font-weight: 200;
  line-height: 85px;
  text-align: center;
}
.hero__section__paragraph {
  padding-top: 180px;
  font-size: 60px;
  font-weight: 200;
  line-height: 75px;
  text-align: center;
}
.hero__section__question {
  margin-top: 50px;
  font-size: 67px;
  font-weight: 200;
  line-height: 85px;
  text-align: center;
}
.hero__section .error__msg {
  margin-top: 15px;
  color: rgb(236, 29, 29);
  font-size: 16px;
}

.hero__section__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.hero__section__wrapper .name__input {
  margin-top: 70px;
  border: none;
  border-bottom: 2px solid #333333;
  padding: 5px 10px;
  outline: none;
  width: 426px;
}

.progress__bar {
  margin-top: 70px;
}

.radio__inputs {
  margin-top: 70px;
  display: flex;
  justify-content: space-around;
  width: 763px;
}
.radio__inputs__box {
  width: 199px;
  height: 49px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #333333;
  position: relative;
  cursor: pointer;
}
.radio__inputs__box label {
  position: absolute;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

input[type=radio] {
  opacity: 0;
  width: 100%;
  height: 49px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
  z-index: 2;
}

input[type=text] {
  font-size: 32px;
  font-family: "Mulish", sans-serif;
  text-align: center;
  letter-spacing: 0.1em;
  font-weight: 300;
}

.selected__label {
  background: #333333;
  color: white;
}

.btn {
  width: 169px;
  height: 49px;
  background: #333333;
  color: white;
  border: none;
  font-size: 24px;
  font-family: "Mulish", sans-serif;
  font-weight: 600;
  letter-spacing: 0.1em;
  cursor: pointer;
}

.btn:hover {
  background-color: #4d4d4d;
  transition: all 0.2s;
}

.btn__next {
  float: right;
}

.btn__skip {
  border: none;
  background-color: transparent;
  color: #333333;
  font-size: 24px;
  font-weight: 600;
  letter-spacing: 0.1em;
  margin-top: 25px;
  font-family: "Mulish", sans-serif;
  cursor: pointer;
}

.main__board {
  margin: 0;
  background: no-repeat center center fixed;
  background-size: cover;
  color: white;
  background-color: rgba(0, 0, 0, 0.7);
  text-shadow: 0px 0px 20px #242424;
}
.main__board__container {
  padding: 15px;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.center__widget {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  height: 600px;
}
.center__widget__section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.center__widget__section__nav {
  width: 190px;
  display: flex;
  justify-content: space-evenly;
  padding: 12px 0;
  border-radius: 25px;
  background-color: rgba(51, 51, 51, 0.3176470588);
  margin-bottom: 30px;
}
.center__widget__section__nav .icon {
  cursor: pointer;
  transition: all 0.2s;
}
.center__widget__section__nav .icon:hover {
  filter: invert(0.3) brightness(0.5);
  transition: all 0.2s;
}
.center__widget__section__clock {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.center__widget__section__clock__time {
  text-align: center;
  font-size: 145px;
  font-family: "Cabin", sans-serif;
}
.center__widget__section__clock__gretting {
  font-size: 54px;
  text-align: center;
}
.center__widget__section__clock__subtitle {
  margin-top: 50px;
  font-size: 34px;
  text-align: center;
}
.center__widget__section__clock .name__input {
  margin-top: 20px;
  border: none;
  border-bottom: 3px solid white;
  padding: 5px 10px;
  outline: none;
  width: 426px;
  background: transparent;
  color: white;
}
.center__widget__section__clock .name__input:focus {
  color: white;
}
.center__widget__section__meditation {
  display: none;
  align-items: center;
  flex-direction: column;
  justify-content: space-evenly;
}
.center__widget__section__meditation .time-display {
  color: white;
  font-size: 145px;
  margin-bottom: 30px;
  font-family: "Cabin", sans-serif;
}
.center__widget__section__meditation .play {
  margin-bottom: 50px;
}
.center__widget__section__meditation .relaxed__wrapper {
  background-color: rgba(51, 51, 51, 0.3176470588);
  padding: 25px;
}
.center__widget__section__meditation .relaxed__wrapper__note {
  font-size: 34px;
  text-shadow: 0px 0px 20px #242424;
  text-align: center;
  margin-bottom: 30px;
}
.center__widget__section__meditation .time-select {
  width: 600px;
  display: flex;
  justify-content: space-evenly;
}
.center__widget__section__meditation .time-select .time__btn {
  color: white;
  width: 148px;
  height: 49px;
  background: none;
  font-size: 20px;
  cursor: pointer;
  border: 1px solid white;
  transition: all 0.2s ease;
  font-family: "Cabin", sans-serif;
}
.center__widget__section__meditation .time-select button:hover {
  background: white;
  color: #333333;
}
.center__widget__section__pomodoro {
  display: none;
  flex-direction: column;
}
.center__widget__section__pomodoro .timer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  text-align: center;
}
.center__widget__section__pomodoro .clock {
  margin-top: 50px;
  margin-bottom: 50px;
  font-size: 145px;
  line-height: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Cabin", sans-serif;
}
.center__widget__section__pomodoro .button-group {
  margin-top: 50px;
  width: 600px;
  display: flex;
  justify-content: space-evenly;
  background-color: rgba(51, 51, 51, 0.3176470588);
  padding: 25px;
}
.center__widget__section__pomodoro .button-group .mode-button {
  color: white;
  width: 148px;
  height: 49px;
  background: none;
  font-size: 20px;
  cursor: pointer;
  border: 1px solid white;
  transition: all 0.2s ease;
}
.center__widget__section__pomodoro .mode-button.active {
  background-color: white;
  color: #333333;
}
.center__widget__section__pomodoro button:focus,
.center__widget__section__pomodoro button:active {
  outline: none;
}

.top__left {
  margin-top: 50px;
  z-index: 2;
  width: 400px;
}
.top__left .widget {
  width: 340px;
  margin-bottom: 30px;
  background-color: white;
  border-radius: 5px;
  text-shadow: none;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034), 0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06), 0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086), 0 100px 80px rgba(0, 0, 0, 0.12);
}
.top__left .widget__date {
  height: 150px;
  color: #333333;
  display: flex;
  align-items: center;
}
.top__left .widget__date__day {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: 30px;
}
.top__left .widget__date__day .weekday {
  color: rgb(204, 16, 16);
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 0.1em;
}
.top__left .widget__date__day .weekday-number {
  font-size: 75px;
  font-family: "Cabin", sans-serif;
}
.top__left .widget__date__month {
  color: green;
  text-transform: uppercase;
  color: #7e7e7e;
  letter-spacing: 0.2em;
}
.top__left .widget__wiki {
  height: 265px;
  color: "Mulish", sans-serif;
  color: #333333;
  padding: 10px 20px;
}
.top__left .widget__wiki__year {
  text-align: center;
  margin-bottom: 10px;
  font-size: 26px;
}
.top__left .widget__wiki .divider {
  background-color: #c9c9c9;
  height: 1px;
}
.top__left .widget__wiki__description {
  margin: 15px 0;
  line-height: 22px;
  font-weight: 300;
  height: 145px;
  width: 300px;
}
.top__left .widget__wiki__btn {
  border: none;
  background-color: transparent;
  font-size: 18px;
  float: right;
  cursor: pointer;
}
.top__left .widget__wiki__btn:hover {
  color: #7e7e7e;
  transition: all 0.2s;
}
.top__left .widget__crypto {
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #333333;
}
.top__left .widget__crypto img {
  margin-right: 20px;
}
.top__left .widget__crypto .current__price {
  font-weight: bold;
  margin-bottom: 5px;
  color: #333333;
}
.top__left .widget__crypto__error {
  text-align: center;
  padding: 10px;
  cursor: pointer;
  color: #ff3838;
}
.top__left .widget__crypto__error:hover {
  color: #fb8a8a;
  transition: all 0.2s;
}

#author {
  bottom: 0;
  position: fixed;
  margin-bottom: 10px;
}

.weather__widget {
  position: absolute;
  top: 30px;
  right: 30px;
}

div#weather {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-self: flex-start;
  margin-top: -20px;
}

div#weather > img {
  width: 70px;
  margin-right: 10px;
}

p.weather-city {
  width: 100%;
  text-align: right;
  margin: 0;
  margin-top: -10px;
}

p.weather-temp {
  margin: 0;
  font-size: 1.8rem;
  margin-left: -10px;
}

.switch {
  position: relative;
  display: inline-block;
  width: 44px;
  height: 24px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.4s;
  border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 19px;
  width: 19px;
  left: 3px;
  bottom: 2.5px;
  background-color: white;
  transition: 0.4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: #0ea72a;
}

input:focus + .slider {
  box-shadow: 0 0 1px #0ea72a;
}

input:checked + .slider:before {
  transform: translateX(19px);
}/*# sourceMappingURL=style.css.map */